

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hatswa2 | Login</title>
    <!-- Core CSS - Include with every page -->
    <h:outputStylesheet library="css" name="assets/plugins/bootstrap/bootstrap.css" />
    <h:outputStylesheet library="css" name="assets/font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="css" name="assets/plugins/pace/pace-theme-big-counter.css" />
    <h:outputStylesheet library="css" name="assets/css/style.css" />
    <h:outputStylesheet library="css" name="assets/css/main-style.css" />
    <!-- Page-Level CSS -->
    <h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" />
   </h:head>

    <h:body class="body-Login-back">

    <div class="container">
       
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                <h:link outcome="GuestMainPage"><h:graphicImage name="images/hatsawa2small.png" library="images"/></h:link>
                </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">                  
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <f:view>
                        <h:form role="form">                        
                            <fieldset>
                                <div class="form-group">
                                    <p:inputText class="form-control" placeholder="User name" required="true" requiredMessage="Please enter user name" value="#{checkLogin.userName}" validatorMessage="Please check for correct username or password" />
                                </div>
                                <div class="form-group">
                                    <p:inputText class="form-control" placeholder="Password"  required="true" requiredMessage="please enter password" value="#{checkLogin.password}" validatorMessage="Please check for correct username or password " />
                                </div>
<!--                                <a href="faces/AdminMainPage.xhtml" class="btn btn-lg btn-success btn-block">Login</a>-->
                                    <h:commandLink value="Login" class="btn btn-lg btn-success btn-block"  action="#{checkLogin.checkUser}"   />
                            </fieldset>
                        </h:form>
                        </f:view>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Core Scripts - Include with every page -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>

    <h:outputScript name="assets/plugins/jquery-1.10.2.js" library="js" />
    <h:outputScript name="assets/plugins/bootstrap/bootstrap.min.js" library="js" />
    <h:outputScript name="assets/plugins/metisMenu/jquery.metisMenu.js" library="js" />

  >
    
    </h:body>

</html>
