
<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Hatswa2 | Manage Vendor</title>
   </h:head>
    <h:body>
         
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
        <h:form>
    <!--  wrapper -->
    <div id="wrapper">
        
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Manage vendors</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                         <!--Simple table example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>All vendors
                            
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Vendor logo</th>
                                                    <th>Profile</th>
                                                    <th>Status</th>
                                                    <th>Offers</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="checkbox"/></td>
                                                    <td> <img src="../img/logo.png" alt="" /></td>
                                                    <td><h:link value="vendor profile" outcome="AdminSeeVendorProfile"/></td>
                                                    <td><h:link value="Not Blocked" hreflang="AdminManageVendors"/></td>
                                                    <td><a href="AdminManageOffer.xhtml" >view offers</a>
                                                        <br/>
                                                     <a href="AdminAddOffer.xhtml" >add offer</a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h:commandButton value="Send messag" />
                                    </div>

                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--End simple table example -->
                </div>

            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
       <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>
</h:form>
</h:body>

</html>
