
<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://xmlns.jcp.org/jsf/html" 
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          xmlns:f="http://xmlns.jcp.org/jsf/core"
          xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
          xmlns:p="http://primefaces.org/ui">
        <h:head>
            <title>Hatswa2 | Manage Item</title>
        </h:head>
        <h:body>
            <ui:insert name="header" >
                <ui:include src="AdminHeader.xhtml" />
            </ui:insert>

            <f:view>
                <h:form>
                    <!--  wrapper -->
                    <div id="wrapper">
                        <!-- navbar top -->

                        <div id="page-wrapper">

                            <div class="row">
                                <!-- Page Header -->
                                <div class="col-lg-12">
                                    <h1 class="page-header">Manage items</h1>
                                </div>
                                <!--End Page Header -->
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <!--Simple table example -->
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-bar-chart-o fa-fw"></i>All items
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="table-responsive">                                       
                                                        <h:dataTable class="table table-bordered table-hover table-striped" value="#{adminItem.model}" var="item">                                                          
                                                            <h:column> 
                                                                <f:facet name="header">Name</f:facet>
                                                                    <h:inputText value="#{item.name}" size="15" rendered="true" />
                                                            </h:column>        
                                                            <h:column> 
                                                                <f:facet name="header">Icon</f:facet>
                                                                    #{item.icon}
                                                            </h:column>
                                                            <h:column> 
                                                                <f:facet name="header">Description</f:facet>
                                                                    <h:inputText value="#{item.description}" size="25" rendered="true" />
                                                            </h:column>
                                                            <h:column> 
                                                                <f:facet name="header">Status</f:facet>
                                                                <c:choose>
                                                                    <c:when test="${item.deactivate}">
                                                                        <h:commandButton class="btn btn-outline btn-danger" action="#{adminItem.deactivateItem}" value="Active" />
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <h:commandButton class="btn btn-outline btn-danger" action="#{adminItem.deactivateItem}" value="Deactivate" />
                                                                    </c:otherwise>
                                                                </c:choose>                                                                
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">Operation</f:facet>
                                                                <center>
                                                                    <h:commandButton class="btn btn-outline btn-success" value="Update" action="#{adminItem.updateItem}"/>                           
                                                                </center>
                                                            </h:column>
                                                        </h:dataTable>                                            
                                                        <br/>
                                                        <button type="button" class="btn btn-primary" style="float: right;" onclick="PF('dlg').show()">Add Item</button>                                      
                                                    
                                                    <p:dialog header="Add item" widgetVar="dlg" showEffect="fade">
                                                            
                                                      
                                                            <h:form>
                                                            <table class="table table-bordered table-hover table-striped">
                                                                <tr>
                                                                    <td>
                                                                        Logo
                                                                    </td>
                                                                    <td>
                                                                        Name
                                                                    </td>
                                                                    <td>
                                                                        Description
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p:fileUpload fileUploadListener="#{adminItem.handleFileUpload}" label="Choose" auto="true"/>
                                                                    </td>

                                                                    <td>
                                                                        <h:inputText   value="#{adminItem.itemName}" id="name"/>
                                                                    </td> 

                                                                    <td>
                                                                        <h:inputText  value="#{adminItem.itemDescription}" id="desc"/>
                                                                    </td> 
                                                                </tr>
                                                                <tr></tr>  

                                                            </table>
                                                            
                                                                <p:commandButton  class="btn btn-primary" style="float: right;" onclick="PF('dlg').hide()"  value="Add" actionListener="#{adminItem.handleClose}"/>
                                                                    
                                                            </h:form>
                                                        </p:dialog>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!--End simple table example -->
                                </div>
                            </div>
                        </div>
                        <!-- end page-wrapper -->

                    </div>
                    <!-- end wrapper -->

                    <ui:insert name="footer" >
                        <ui:include src="AdminVendorFooter.xhtml" />
                    </ui:insert>
                </h:form>
            </f:view>
        </h:body>
    </html>
