<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Hatswa2 | Add Vendor</title>
    </h:head>
    <h:body>
        <!--  wrapper -->
         
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <div id="wrapper">
                <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add Vendor</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basic Vendor Elements
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Name</label>
                                            <input type="text" placeholder="Enter Name" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">User Name</label>
                                            <input type="text" placeholder="Enter Name" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Email</label>
                                            <input type="email" placeholder="Enter Email" class="form-control" id="inputError" required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Logo</label>
                                            <input type="image" required="true" />
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Password</label>
                                            <input type="password" placeholder="Enter Password" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Representative Name</label>
                                            <input type="text" placeholder="Enter Name of your Representative person" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Mobile Admin Contact</label>
                                            <input type="tel" placeholder="Enter Mobile phone to admin contacts you" class="form-control" id="inputError" required="true"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Mobile Guest Contact</label>
                                            <input type="tel" placeholder="Enter Mobile phone to Guest contacts you" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Branch Name</label>
                                            <input type="text" placeholder="Enter Branch Name" class="form-control" id="inputError"/>
                                        </div>
                                        <div class="form-group">
                                            <label>What do you sell ?</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputError">Mobile Branch</label>
                                            <input type="tel" placeholder="Enter Mobile phone of Branch" class="form-control" id="inputError" />
                                        </div>
                                        <br/>
                                            put your destination here : 
                                        <br/>
                                        
                                        <button type="submit" class="btn btn-primary" onclick="AdminMainPage">Submit Button</button>
                                        <button type="reset" class="btn btn-success">Reset Button</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
        <!--Don't forget to include all js pages here-->
       <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>  
    </h:body>
</html>
