<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Hatswaq | Vendor Profile</title>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <h:outputScript name="js/jquery.min.js" library="js"/>
        <!-- Custom Theme files -->
        <h:outputStylesheet library="css" name="css/style.css"/>
        <h:outputStylesheet library="css" name="css/component.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'/>            
        <h:outputScript name="js/jquery.easydropdown.js" library="js"/>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
        <!--details-product-slider-->
        <!-- Include the Etalage files -->
        <h:outputStylesheet library="css" name="css/etalage.css"/>
        <h:outputScript name="js/jquery.etalage.min.js" library="js"/>
        <!-- Include the Etalage files -->
        <script>
            jQuery(document).ready(function ($) {

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,
                    show_hint: true,
                    click_callback: function (image_anchor, instance_id) {
                        alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                    }
                });
                // This is for the dropdown list example:
                $('.dropdownlist').change(function () {
                    etalage_show($(this).find('option:selected').attr('class'));
                });

            });
        </script>
        <!--details-product-slider-->	
        <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });
        </script>	
    </h:head>
    <body>
        <div class="single">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html"><h:graphicImage name="images/logo.png" library="images"/></a>
                    </div>
                    <div class="header_right">
                        <ul class="social">
                            <li><a href=""> <i class="fb"> </i> </a></li>
                            <li><a href=""><i class="tw"> </i> </a></li>
                            <li><a href=""><i class="utube"> </i> </a></li>
                            <li><a href=""><i class="pin"> </i> </a></li>
                            <li><a href=""><i class="instagram"> </i> </a></li>
                        </ul>
                        <div class="lang_list">
                            <select tabindex="4" class="dropdown">
                                <option class="label">En</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div class="apparel_box">
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="menu_box">
                                <h3 class="menu_head">Menu</h3>
                                <ul class="nav">
                                    <li><a href="apparel.html">Home</a></li>                                    
                                    <li><a href="apparel.html">vendors Offer</a></li>
                                    <li><a href="apparel.html">vendor Profile</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="apparel.html">Dowenload Mobile App</a></li>
                                </ul>
                            </div>
                            <div class="box search">
                                <h2>Search by <span></span></h2>
                                <div class="box-content">                                    
                                    <label>Keyword</label>
                                    <div class="search">
                                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = 'Search';
                                                }"/>
                                        <input type="submit" value=""/>
                                    </div>
                                    <form action="#" method="post">
                                        <label>Vendors</label>
                                        <select class="field">
                                            <option value="">-- Select Vendor --</option>
                                            <option value="">vendor 1</option>
                                            <option value="">vendor 2</option>
                                        </select>
                                        <div class="inline-field">
                                            <label>Date</label>
                                            <p:calendar value="#{sss}" />
                                            <label>to:</label>
                                            <p:calendar value="#{sss}"/>
                                        </div>   
                                        <a href="#" class="bul">Contact Vendor Support</a> 
                                        <input type="button" value="Search" class="mmm"/>
                                    </form>
                                </div>
                            </div>
                            <div class="side_banner">
                                <div class="banner_img"><h:graphicImage name="images/carfor.jpg" library="images"/></div>                          
                            </div>
                            <div class="tags">
                                <h4 class="tag_head">Vendors</h4>
                                <ul class="article_links">
                                    <li><h:link value="vendor 1" outcome="vendor_profile"/></li>
                                    <li><h:link value="vendor 2" outcome="vendor_profile"/></li>
                                    <li><h:link value="vendor 3" outcome="vendor_profile"/></li>
                                    <li><h:link value="vendor 4" outcome="vendor_profile"/></li>
                                    <li><h:link value="vendor 5" outcome="vendor_profile"/></li>
                                </ul>
                                <h:link value="view all" outcome="vendor_profile"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dreamcrub">
                                <ul class="breadcrumbs">
                                    <li class="home">
                                        <a href="index.html" title="Go to Home Page">Home</a>&#160;
                                        <span>&gt;</span>
                                    </li>

                                    <li class="women">
                                        Vendor 1
                                    </li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div class="singel_right">
                                <div class="labout span_1_of_a1">
                                    <!-- start product_slider -->
                                    <h:graphicImage name="images/carfor.jpg" library="images"/>
                                </div>
                                <div class="cont1 span_2_of_a1">
                                    <h1>Vendor 1</h1>
                                    <ul class="rating">
                                        <li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
                                        <li><a href="#">1 Review(s) Add Review</a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                    <div class="price_single">                                        
                                        <span class="actual">Main Mobile: (19190)</span>
                                    </div>
                                    <h2 class="quick">What do we sell?</h2>
                                    <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                                    <ul class="size">
                                        <h3>Branches</h3>
                                        <li><a href="#">branch 1</a></li>
                                        <li><a href="#">branch 2</a></li>
                                        <li><a href="#">branch 3</a></li>
                                        <li><a href="#">branch 4</a></li>
                                    </ul>
                                    <ul class="size">
                                        <h3>Representative</h3>
                                        <li>Vendor 1 representative</li>
                                    </ul>
                                    <ul class="product-qty">
                                        <span>Rate me:</span>
                                        <li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h3 class="like">Find Us Here :</h3>
                            <div class="map">
                                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                                        src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed">

                                </iframe><br/>
                                <small>
                                    <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" 
                                       style="color:#666;text-align:left;font-size:12px">               
                                    </a>
                                </small>
                            </div>
                            <br/><br/>
                            <h3 class="like">Offers</h3>        			
                            <ul id="flexiselDemo3">
                                <li><img src="images/pic11.jpg" /><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>Rs 850</p></div></li>
                                <li><img src="images/pic10.jpg" /><div class="grid-flex"><a href="#">Surf Yoke</a><p>Rs 1050</p></div></li>
                                <li><img src="images/pic9.jpg" /><div class="grid-flex"><a href="#">Salty Daiz</a><p>Rs 990</p></div></li>
                                <li><img src="images/pic8.jpg" /><div class="grid-flex"><a href="#">Cheeky Zane</a><p>Rs 850</p></div></li>
                                <li><img src="images/pic7.jpg" /><div class="grid-flex"><a href="#">Synergy</a><p>Rs 870</p></div></li>
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 3,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
                            </script>                            
                            <h:outputScript name="js/jquery.flexisel.js" library="js"/>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="brands">
                <ul class="brand_icons">
                    <li><img src='images/icon1.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon2.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon3.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon4.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon5.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='images/icon6.jpg' class="img-responsive" alt=""/></li>
                    <li class="last"><img src='images/icon7.jpg' class="img-responsive" alt=""/></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="instagram_top">
                <div class="instagram text-center">
                    <h3><i class="insta_icon"> </i> Instagram feed:&#160;<span class="small">#Surfhouse</span></h3>
                </div>
                <ul class="instagram_grid">
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i1.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i2.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i3.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i4.jpg" class="img-responsive" alt=""/></a></li>
                    <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i5.jpg" class="img-responsive" alt=""/></a></li>
                    <li class="last_instagram"><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="images/i6.jpg" class="img-responsive" alt=""/></a></li>
                    <div class="clearfix"></div>
                    <div id="small-dialog1" class="mfp-hide">
                        <div class="pop_up">
                            <h4>A Sample Photo Stream</h4>
                            <img src="images/i_zoom.jpg" class="img-responsive" alt=""/>
                        </div>
                    </div>
                </ul>
            </div>
            <ul class="footer_social">
                <li><a href="#"> <i class="fb"> </i> </a></li>
                <li><a href="#"><i class="tw"> </i> </a></li>
                <li><a href="#"><i class="pin"> </i> </a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="footer">
            <div class="container">
                <div class="menu_box">
                    <h3 class="menu_head">Menu</h3>
                    <ul class="nav">
                        <li><h:link value="Home" outcome="GuestMainPage"/></li>                                    
                        <li><h:link value="Contact Us" outcome="GuestContactUs"/></li>
                        <li><a href="https://play.google.com/store?hl=en">Dowenload Mobile App</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Account</h3>
                    <ul class="list1">
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Personal information</a></li>
                        <li><a href="#">Addresses</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Orders history</a></li>
                        <li><a href="#">Addresses</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Support</h3>
                    <ul class="list1">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Addresses</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Newsletter</h3>
                    <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                    <div class="search_footer">
                        <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {
                                    this.value = 'Insert Email';
                                }"/>
                        <input type="submit" value="Submit"/>
                    </div>
                    <img src="images/payment.png" class="img-responsive" alt=""/>
                </div>
                <div class="footer-grid footer-grid_last">
                    <h3>About Us</h3>
                    <p class="footer_desc">WELCOME TO HATSWAQ The only online store you will ever need for all your Offer and main products .</p>
                    <p class="f_text">Phone:  &#160;&#160;&#160;00-250-2131</p>
                    <p class="email">Email: &#160;&#160;&#160;<span>info(at)Surfhouse.com</span></p>	
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="copy">
                    <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                </div>
            </div>
        </div>
    </body>
</html>