<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Home</title>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <h:outputScript name="js/jquery.min.js" library="js"/>
        <!-- Custom Theme files -->
        <h:outputStylesheet library="css" name="css/style.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <h:outputScript name="js/jquery.easydropdown.js" library="js"/>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
    </h:head>
    <h:body>
        <div class="header">	
            <div class="container"> 
                <div class="header-top">
                    <div class="logo">
                        <h:link outcome="GuestMainPage"><h:graphicImage name="images/hatswa2.png" library="images"/></h:link>
                    </div>
                    <div class="header_right">
                        <ul class="social">
                            <li><a href=""> <li class="fb"> </li> </a></li>
                            <li><a href=""><i class="tw"> </i> </a></li>
                            <li><a href=""><i class="utube"> </i> </a></li>
                            <li><a href=""><i class="pin"> </i> </a></li>
                            <li><a href=""><i class="instagram"> </i> </a></li>
                        </ul>
                        <div class="lang_list">
                            <select tabindex="4" class="dropdown">
                                <option class="label" value="">En</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div class="index-banner">
                    <div class="wmuSlider example1">
                        <div class="wmuSliderWrapper">
                            <article style="position: absolute; width: 100%; opacity: 0;"> 
                                <div class="banner-wrap">
                                    <div class="bannertop_box">                                        
                                        <div class="welcome_box">
                                            <h2>Welcome to Hatswaq</h2>
                                            <p>The only online store you will ever need for all your Offer and main products</p>
                                        </div>
                                    </div>

                                    <div class="banner_right">
                                        <h1>Feugait<br/> 2016</h1>
                                        <p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional cpntrol and super easy jibing.</p>
                                        <!--<a href="#" class="banner_btn">Buy Now</a>-->
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </article>
                            <article style="position: relative; width: 100%; opacity: 1;"> 
                                <div class="banner-wrap">
                                    <div class="bannertop_box">
                                        <div class="welcome_box">
                                            <h2>Welcome to Hatswaq</h2>
                                            <p>The only online store you will ever need for all your Offer and main products</p>
                                        </div>
                                    </div>
                                    <div class="banner_right">
                                        <h1>Mutation<br/> 2016</h1>
                                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                                        <!--<a href="#" class="banner_btn">Buy Now</a>-->
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </article>
                            <article style="position: absolute; width: 100%; opacity: 0;">
                                <div class="banner-wrap">
                                    <div class="bannertop_box">
                                        <div class="welcome_box">
                                            <h2>Welcome to Hatswaq</h2>
                                            <p>The only online store you will ever need for all your Offer and main products</p>
                                        </div>
                                    </div>
                                    <div class="banner_right">
                                        <h1>Jp Funride<br/> 2016</h1>
                                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera.</p>
                                        <!--<a href="#" class="banner_btn">Buy Now</a>-->
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </article>
                        </div>
                        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                        <ul class="wmuSliderPagination">
                            <li><a href="#" class="">0</a></li>
                            <li><a href="#" class="">1</a></li>
                            <li><a href="#" class="wmuActive">2</a></li>
                        </ul>
                    </div>
                    <h:outputScript name="js/jquery.wmuSlider.js" library="js"/>
                    <script>
                        $('.example1').wmuSlider();
                    </script> 	           	      
                </div>
            </div>     
        </div>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="menu_box">
                                <h3 class="menu_head">Menu</h3>
                                <ul class="nav">
                                    <li><h:link value="Home" outcome="GuestMainPage"/></li>                                    
                                    <li><h:link value="Contact Us" outcome="GuestContactUs"/></li>
                                    <li><a href="https://play.google.com/store?hl=en">Download Mobile Application</a></li>
                                </ul>
                            </div>
                            <div class="box search">
                                <h2>Search by <span></span></h2>
                                <div class="box-content">                                    
                                    <label>Keyword</label>
                                    <div class="search">
                                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = 'Search';
                                                }"/>
                                        <input type="submit" value=""/>
                                    </div>
                                    <form action="#" method="post">
                                        <label>Vendors</label>
                                        <select class="field">
                                            <option value="">-- Select Vendor --</option>
                                            <option value="">vendor 1</option>
                                            <option value="">vendor 2</option>
                                        </select>
                                        <div class="inline-field">
                                            <label>Date</label>
                                            <p:calendar value="#{sss}" />
                                            <label>to:</label>
                                            <p:calendar value="#{sss}"/>
                                        </div>   
                                        <a href="#" class="bul"></a> 
                                        <h:link value="Contact Vendor Supports" outcome="GuestVendorProfile"/>
                                        <input type="button" value="Search" class="mmm"/>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="tags">
                                <h4 class="tag_head">Vendors</h4>
                                <ul class="article_links">
                                    <li><h:link value="vendor 1" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 2" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 3" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 4" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 5" outcome="GuestVendorProfile"/></li>
                                </ul>
                                <h:link value="view all" outcome="GuestVendorProfile"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 class="m_1">New Offers</h3>
                            <div class="content_grid">
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div  class="product_image">
                                                 <h:link outcome="GuestItem">
                                                     <h:graphicImage name="images/pic1.jpg" library="images"/>

<!--                                                  <p:imageSwitch effect="shuffle"  >
                                                    <ui:repeat value="#{imagesView.images}" var="image">
                                                        <h:graphicImage name="images/#{image}" library="images" />
                                                    </ui:repeat>
                                                </p:imageSwitch>-->
 
                                                 </h:link>   
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>

                                                    <div class="price"><p:rating cancel="false" stars="5"/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
                                        </div>
                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">      
                                                
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/pic2.jpg" library="images"/></h:link>       
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>
                                                    <div class="price"><p:rating cancel="false"/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                            <div class="sale-box1"><span class="on_sale1 title_shop">New</span></div>	
                                        </div>
                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/kadbry.jpg" library="images"/></h:link>   
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">Carrefour</p>
                                                    </div>
                                                    <div class="price">14/4/2016</div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="content_grid">
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/5odar.PNG" library="images"/></h:link>       
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>
                                                    <div class="price">16/7/2016</div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/sense.jpg" library="images"/></h:link>       
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">hyper one</p>
                                                    </div>
                                                    <div class="price"><p:rating/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/fresh.JPG" library="images"/></h:link>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">Ragab sons</p>
                                                    </div>
                                                    <div class="price"><p:rating/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h3 class="m_2">Top Rated Offers</h3>
                            <div class="content_grid">
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/5odar.PNG" library="images"/></h:link>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>
                                                    <div class="price">16/7/2016</div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">

                                        <div class="inner_content clearfix">
                                            <div class="product_image">

                                                <h:link outcome="GuestItem"><h:graphicImage name="images/kadbry.jpg"  library="images"/></h:link>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">Carrefour</p>
                                                    </div>
                                                    <div class="price">14/4/2016</div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">

                                        <div class="inner_content clearfix">
                                            <div class="product_image">                                                           
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/pic2.jpg" library="images"/></h:link>       
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>
                                                    <div class="price"><p:rating cancel="false"/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="brands">
                        <ul class="brand_icons">
                            <li><img src='images/icon1.jpg' class="img-responsive" alt=""/></li>
                            <li><img src='images/icon2.jpg' class="img-responsive" alt=""/></li>
                            <li><img src='images/icon3.jpg' class="img-responsive" alt=""/></li>
                            <li><img src='images/icon4.jpg' class="img-responsive" alt=""/></li>
                            <li><img src='images/icon5.jpg' class="img-responsive" alt=""/></li>
                            <li><img src='images/icon6.jpg' class="img-responsive" alt=""/></li>
                            <li class="last"><img src='images/icon7.jpg' class="img-responsive" alt=""/></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <ul class="footer_social">
                        <li><a href="#"> <i class="fb"> </i> </a></li>
                        <li><a href="#"><i class="tw"> </i> </a></li>
                        <li><a href="#"><i class="pin"> </i> </a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="footer-grid">
                        <h3>Links</h3>
                        <ul class="list1">
                            <li><a href="apparel.html">Home</a></li>                                    
                            <li><a href="apparel.html">vendors Offer</a></li>
                            <li><a href="apparel.html">vendor Profile</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="apparel.html">Dowenload Mobile App</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Our Account</h3>
                        <ul class="list1">
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Personal information</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Orders history</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Search Terms</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Our Support</h3>
                        <ul class="list1">
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Search Terms</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Addresses</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Newsletter</h3>
                        <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                        <div class="search_footer">
                            <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Insert Email';
                                    }"/>
                            <input type="submit" value="Submit"/>
                        </div>
                        <img src="images/payment.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="footer-grid footer-grid_last">
                        <h3>About Us</h3>
                        <p class="footer_desc">WELCOME TO HATSWAQ The only online store you will ever need for all your Offer and main products .</p>
                        <p class="f_text">Phone:  &#160;&#160;&#160;00-250-2131</p>
                        <p class="email">Email: &#160;&#160;&#160;<span>info(at)Surfhouse.com</span></p>	
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>