
<!--

author Aya

-->

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

   </h:head>
    <h:body>
         <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
      
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add offer</h1>
                </div>
                <!--End Page Header -->
                
            </div>
                

                    <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Add offer
                            
                        </div>

                        <div class="panel-body">
                              <f:view>
        <h:form enctype="multipart/form-data">
            <p:growl id="msgs" showDetail="true" />
 
<p:fileUpload fileUploadListener="#{fil.handleFileUpload}" update="showName"/>
        
        <h:graphicImage value="#{fil.fileName}" id="showName"/>            
<!--            <p:graphicImage id="photo" value="#{fileUploadView.image}" />-->
            <br/>
            <br/>
            <br/>
         <p:commandButton value="Submit" ajax="false" actionListener="#{fileUploadView.upload}" disabled="false" />

            <div id="fileDisplayArea"></div>
            
    <p:commandButton value="Submit" ajax="false" actionListener="#{fileUploadView.upload}" disabled="true" />
    <h:panelGrid columns="2">
        
         
        <p:imageCropper value="#{cropperView.croppedImage}" image="/resources/demo/images/nature/1.jpg" initialCoords="225,75,300,125" />
           <h:panelGroup id="cropped">
        <p:graphicImage id="myDrag" rendered="#{not empty cropperView.newImageName}" name="demo/images/crop/#{cropperView.newImageName}.jpg" />
            <p:draggable for="myDrag" axis="x" />
        </h:panelGroup>
    </h:panelGrid>
 
    <p:commandButton value="Crop" action="#{cropperView.crop}" update="cropped msgs" icon="ui-icon-scissors"/>
    </h:form>
       </f:view> 
                        </div>

                    </div>
                    <!--End area chart example -->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->
     
</h:body>

</html>
