<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <h:head>
         <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <h:outputStylesheet library="css" name="assets/plugins/bootstrap/bootstrap.css" />
    <h:outputStylesheet library="css" name="assets/font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="css" name="assets/plugins/pace/pace-theme-big-counter.css" />
    <h:outputStylesheet library="css" name="assets/css/style.css" />
    <h:outputStylesheet library="css" name="assets/css/main-style.css" />
    <!-- Page-Level CSS -->
    <h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" />
    
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                 <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <h:outputStylesheet library="css" name="assets/plugins/bootstrap/bootstrap.css" />
    <h:outputStylesheet library="css" name="assets/font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="css" name="assets/plugins/pace/pace-theme-big-counter.css" />
    <h:outputStylesheet library="css" name="assets/css/style.css" />
    <h:outputStylesheet library="css" name="assets/css/main-style.css" />
    <!-- Page-Level CSS -->
    <h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" />
     <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="AdminMainPage.xhtml">
<!--                    <img src="../assets/img/logo.png" alt="" />-->
                    <h1>Hatswa2</h1>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            
            <ul class="nav navbar-top-links navbar-right">
                
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        
                        <span class="top-label label label-danger">3</span>
<!--                        <h:graphicImage name="images/e.jpg" library="images" />-->
                        <h:graphicImage name="images/send2.png" library="images" width="50" height="30"/>
<!--                        <i class="fa fa-envelope fa-3x"></i>-->
                    </a>
                    <!-- dropdown-messages -->
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-danger">Andrew Smith</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-info">Vendor user name</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-success">Vendor user name</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-messages -->
                </li>

               

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-warning">5</span>  
<!--                        <i class="fa fa-bell fa-3x"></i>-->
                        <h:graphicImage name="images/noti.png" library="images" width="45" height="35"/>

                    </a>
                    <!-- dropdown alerts-->
                    <ul class="dropdown-menu dropdown-alerts">
                      
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                       
                        
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Notifications</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-alerts -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <h:graphicImage name="images/profile.jpg" library="images"/>
<!--                        <i class="fa fa-user fa-3x"></i>-->
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">
<!--                                <i class="fa fa-user fa-fw"></i>-->
                                     <h:graphicImage name="images/profile2.png" library="images"/>
                                Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="AdminVendorLogin.xhtml">
<!--                                <i class="fa fa-sign-out fa-fw"></i>-->
                                    <h:graphicImage name="images/logout.jpg" library="images"/>
                                Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
<!--                    <p:dataList class="nav" id="side-menu">-->
                        
                    <li>
                        <!-- user image section-->
                        
                        <div class="user-section">
                            <div class="user-section-inner">
<!--                                <img src="../assets/img/user.jpg" alt=""/>-->
                                <h:graphicImage name="images/user.jpg" library="images"/>
                                
                            </div>
                            <div class="user-info">
                                <div><h:outputLabel value="#{checkLogin.userName}"/> <strong></strong></div>
                                <div class="user-text-online">
<!--                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online-->
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                        <br/>
                        <br/>
                        
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                   <h:graphicImage name="images/search.png" library="images"/>

<!--                                    <i class="fa fa-search"></i>-->
                                </button>
                            </span>
                        </div>
                        <!--end search section-->

                            <li>
                                <a href="VendorMainPage.xhtml"><i class="fa fa-dashboard fa-fw"></i>Main page</a>
                            </li>
                           
                            <li>
                                <a href="VendorManageOffer.xhtml">Manage offers</a>
                            </li>
                            
                            <li>
                                <a href="VendorMessages.xhtml">All messages</a>
                            </li>
                            <li>
                                <a href="VendorNotification.xhtml">All notifications</a>
                            </li>
                     
                    </li>
                </ul>
<!--                    </p:dataList>-->
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
            </h:form>
	 </ui:composition>
    </h:body>
</html>

